* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rødbrun: rgb(92,40,30);
    --baggrund: rgb(214,204,188);
    --tekst: rgb(48,48,49);
    --oliven: rgb(140,135,106);
    --karry: rgb(190,162,81);
    --off-white: rgb(251,249,237)
}

body {
    margin: 0;
    font-family: "Epilogue";
    background-color:var(--baggrund);
    color: var(--tekst);
    margin-left: 11rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.logo img {
    width: 180px;
    height: auto;
    margin-left: calc(-12rem);
    padding-bottom: 2rem;
    padding-top: 0rem;
    padding-left: 3rem;

}

/* Navigation bar */
.navbar {
    position: fixed; /* Gør navbaren fastgjort til toppen */
    top: 0rem;
    right: 3rem;
    width: 85%;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--baggrund);
    font-weight: 300;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-right: 3rem;
    display: flex;
    justify-content:right;
    gap: 20px;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--tekst);
    font-size: 1.1rem;
    padding: 15px 15px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: var(--oliven);
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--off-white);
    box-shadow: 0px 8px 16px, none;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    padding: 10px 20px;
    display: block;
    text-decoration: var(--oliven);
    color: var(--tekst);
    font-size: 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    cursor: pointer;
}

.øjnbrynstitel {
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-family: "Epilogue";
    font-weight: 300;
}

h1 {
    font-family: "Playfair Display";
    color: var(--rødbrun);
    font-size: 60px;
    margin-top: 0rem;
}

.header-content {
    display: flex; /* Gør indholdet fleksibelt, så det placeres i en række */
    align-items: center; /* Centrerer vertikalt */
    justify-content: space-between; /* Tilføjer mellemrum mellem overskrift og billede */
}

.header-content h1 {
    flex: 1; /* Sørger for at overskriften fylder så meget plads som muligt */
}

.header-content img.stjernesymbol {
    width: 400px; /* Størrelse på billedet */
    height: auto; /* Bevar proportionerne */
    margin-left: 30px;

}

.indledning {
    padding-top: 1rem;
    padding-bottom: 3rem;
    line-height: 1.5rem;
}

h2 {
    font-size: 22px;
    color: var(--tekst);
    font-weight: 300;
    padding-bottom: 20px;
}

h2 span {
    font-weight: bold;
    font-size: 40px;
    padding-right: 10px;
    color: var(--tekst);
    font-family: "Fairplay Display";
}

.number2 {
    color: var(--oliven);
}

p {
    font-size: 16px;
    line-height: 1.7;
    color: var(--tekst);
    max-width: 1000px;
}


/* tjekliste */

.tjekliste {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    gap: 20px;
    flex-wrap: wrap; /* Tillader linjebrud, hvis vinduet bliver mindre */

}

input[type="checkbox"] {

    accent-color: var(--tekst);
}

.item-content {
    max-width: 800px;
}

/* link */

a {
    color: var(--rødbrun);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* flueben*/

input[type="checkbox"] {
    margin-right: 30px;
    width: 50px;
    height: 50px;
    appearance: none; /* Fjern standard checkbox-styling */
    background-color: var(--off-white);
    border: 1px solid var(--tekst);
    cursor: pointer;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: var(--off-white); 
    border-color: var(--tekst) 
  }


  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 24px;
    border: solid var(--rødbrun); 
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(45deg);

}